<div class="collection">
  <div class="collection-1">
  <div class="collection-panel left">
  <div>
      <img ng-src="{{collection_imgs[0][0].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[0][1].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[0][2].src}}">
    </div>  
 </div>

 <div class="collection-panel right">
  <div>
      <img ng-src="{{collection_imgs[1][0].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[1][1].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[1][2].src}}">
    </div>  
 </div>

</div>


<div class="collection-2">
  <div class="collection-panel left">
  <div>
      <img ng-src="{{collection_imgs[2][0].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[2][1].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[2][2].src}}">
    </div>  
 </div>

 <div class="collection-panel right">
  <div>
      <img ng-src="{{collection_imgs[3][0].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[3][1].src}}">
    </div>
    <div>
      <img ng-src="{{collection_imgs[3][2].src}}">
    </div>  
 </div>
</div>
</div>


