<div >
	<div class="header">
		<img src="../../assets/pictures/logo.jpg">
		<a ui-sref=".women">Perfetto</a>
	</div>
	<ul class="topnav">
		<li><a ui-sref="shop.men" ng-click="$event.stopPropagation()">Men</a></li>
    	<li><a ui-sref=".women">Women</a></li>
    	<li><a ui-sref=".collection">Collection</a></li>
    	<li><a ui-sref=".storemap">Stores</a></li>
		<li style="float:right;"><a ui-sref="cart">My Treasures</a></li>
		<li style="float:right;"><a  ui-sref="{{location}}">My Account</a> </li>
		<li style="float:right;" ng-click="logout()"><a ng-hide="isLoggedIn" >Logout?</a></li>  
		<li style="float:right;"><a ng-hide="isLoggedIn">Hello,{{name}}</a></li>  
	<li class="icon">
	    <a href="javascript:void(0);" style="font-size:15px;" ng-click="toggleFunction()">☰</a>
	</li>
	</ul>

	<div class="nested-view-container" ui-view></div>
</div>