<div class="user-info">
		
		<br />
		<br />
		Name
		<br />
		<br />
		<input type="text"  ng-model="name"  />
		<br />
		<br />
		Email
		<br />
		<br />
		<input type="text"  ng-model="email" />
		<br />
		<br />
		Phone Number
		<br />
		<br />
		<input type="text"  ng-model="phone" />
		<br />
		<br />
		Shipping Address
		<br />
		<br />
		<input type="text"   ng-model="shippingAddress" />
		<br />
		<br />
		Billing Address
		<br />
		<br />
		<input type="text"   ng-model="billingAddress" />
		<br />


</div>